<!DOCTYPE html>
<html>
  <head>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>Soccer model</title>
  </head>
  <body>
  <nav class="nav">
  <a class="nav-link" href="{{url_for("index")}}">Home</a>
  <a class="nav-link active" aria-current="page" href={{url_for("displayTeamlist")}}>Team list</a>
  <a class="nav-link" href="{{url_for("teamCreate")}}">Add Team</a>
  <a class="nav-link" href="{{url_for("generateSchedule")}}">Schedule</a>
  <a class="nav-link" href="{{url_for("playTour")}}">Tour</a>
  <a class="nav-link" href="{{url_for("tournamentTable")}}">Tournament Table</a>
  <a class="nav-link" href="{{url_for("restart")}}">Restart</a>
</nav>
<div class="container">
  {% block content %}

  {% endblock %}
</div>


  </body>
</html>
