{% extends "base.jinja2" %}
{% block content %}
    {% from 'macros.jinja2' import game_title %}
    <ul class="list-group">
    {%if schedule.matchDays %}
        {% for matchday in schedule.matchDays %}
        <li class="list-group-item"> Match day <span class="badge text-white bg-secondary rounded-pill">{{loop.index}}</span></li>
            <ol class="list-group list-group-numbered">
            {% for game in matchday %}
                <li class="list-group-item-info">
                <span class="badge text-white bg-dark rounded-pill">
                    {{game_title(schedule.teamList[game[0]],schedule.teamList[game[1]])}}
                </span>
                </li>
            {% endfor %}
            </ol>
            
        {% endfor %}
    {% endif %}
    </ul>
    {# a comment #}
{% endblock %}